# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js
styles.css
!src/styles.css

# Exclude sourcemaps
*.map

# obsidian
data.json
._*

# Exclude macOS Finder (System Explorer) View States
.DS_Store

desktop.ini
.env
env
dist/
.hotreload
act.json
tokens.json
logs.txt
*.zip
