.obs-git-publisher {
	border-top: transparent;
	padding: 0 0 3px 0;
}

summary.obs-git-publisher-summary {
	border-top: 1px solid var(--background-modifier-border);
	padding-top: 10px;
}

.obs-git-publisher-censor-desc p {
	margin: 0 !important;
}

.setting-item.obs-git-publisher-censor-desc {
	padding: 0;
}

.setting-item.obs-git-publisher-censor-entry {
	border: 0 !important;
	padding: 0 !important;
}
hr.obs-git-publisher-hr {
	margin: 1px !important;
	padding-bottom: 1px;
}

.setting-item.obs-git-publisher-censor-entry input[placeholder='flags'] {
	width: 50px;
}

.setting-item.obs-git-publisher-censor-entry .setting-item-info {
	display: none;
}

.setting-item.obs-git-publisher-censor-entry .setting-item-control {
	width: auto;
}

.setting-item.obs-git-publisher-censor-entry > .setting-item-control> input[type="text"]:first-child {
	width: 300px;
}
.setting-item.obs-git-publisher-censor-entry > .setting-item-control> input[type="text"]:nth-child(2) {
	width: 250px;
}

button.obs-git-publisher-censor-flags{
	box-shadow: none;
	background-color: transparent;
	border: 0;
	padding: 0 0 0 5px;
	margin: 0;
}

button.obs-git-publisher-censor-flags:hover {
	background-color: transparent;
	box-shadow: none;
	border: 0;
}

.obs-git-publisher-textarea textarea {
	width: 250px;
	height: 100px;
}

.settings-tab-bar {
	display: flex;
	flex-direction: row;
}

.settings-tab {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--size-4-2);
	padding: 10px;
	border: 1px solid var(--background-modifier-border)
}

.settings-tab-active {
	background-color: var(--color-accent);
	color: var(--text-on-accent);
}

.settings-tab-name {
	font-weight: bold;
}

.settings-tab-icon {
	display: flex;
}

.settings-tab-page > .setting-item:first-child {
	margin-top: 15px;
}

.settings-tab-page h5 {
	margin-bottom: 10px !important;
}
