/* styles.css */

/* ---------- MODALS REGEX ---------- */
.github-publisher.modals .setting-item.entry {
	border: 0 !important;
	padding: 5px !important;
}

hr.github-publisher-hr {
	margin: 1px !important;
	padding-bottom: 1px;
}


.github-publisher.modals .setting-item.entry input {
	width: 100%;
}

.github-publisher.modals .setting-item.entry .setting-item-info {
	display: none;
}

/* --------- EXPORT IMPORT --------- */

.github-publisher .setting-item.import-export {
	padding-bottom: 10px;
}

.github-publisher-export-import>.setting-item-info {
	display: flex;
	flex-direction: row;
	gap: 4px;
	overflow: hidden;
	padding: 0;
}

.setting-item.github-publisher-export-import>.setting-item-control {
	padding-bottom: 10px;
}

.github-publisher-import-error {
	display: none;
	color: var(--text-error);
}

.github-publisher-import-error.active {
	display: block;
}

.github-publisher-import-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.github-publisher-import-label,
a.github-publisher-copy,
a.github-publisher-download {
	color: var(--text-normal);
	font-size: var(--font-ui-small);
	border-radius: var(--button-radius);
	border: 0;
	padding: var(--size-4-1) var(--size-4-3);
	font-weight: var(--input-font-weight);
	font-family: inherit;
	cursor: pointer;
	background-color: var(--interactive-normal);
	box-shadow: var(--input-shadow);
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

.github-publisher-import-label:hover,
a.github-publisher-copy:hover,
a.github-publisher-download:hover {
	background-color: var(--interactive-hover);
	box-shadow: var(--input-shadow-hover);
}

.github-publisher-import-save-button {
	text-align: center;
	width: 100%;
}

.github-publisher-copy,
.github-publisher-download {
	position: relative;
	display: inline-block;
	margin-left: 10px;

}

.github-publisher-copy:before {
	color: var(--interactive-success);
	content: "✓";
	position: absolute;
	left: -18px;
	font-weight: bold;
	opacity: 0;
	transition: 150ms opacity ease-in-out;
}

.github-publisher-copy.success:before {
	opacity: 1;
}

.github-publisher-export-textarea,
.github-publisher-import-textarea {
	width: 100%;
	height: 200px;
	font-family: var(--font-monospace);
	font-size: 14px;
}

/* --------- GENERAL SETTINGS --------- */

.github-publisher textarea {
	width: 250px;
	height: 100px;
}

.github-publisher .mid-height {
	height: 50%;
}

.github-publisher .bake ul {
	margin-top: 0;
}

/* --------- SETTINGS TABS BAR --------- */
.github-publisher .settings-tab-bar{
	display: flex;
	flex-direction: row;
	gap: 4px;
	overflow: hidden;
	padding: 0;
}

.github-publisher .settings-tab {
	padding: 10px;
	border: 1px solid var(--background-modifier-border);
	border-radius: 5px;
}

.github-publisher .settings-tab:hover {
	background-color: var(--background-modifier-hover);
}

@media screen and (max-width: 900px) {

	.github-publisher .settings-tab-bar,
	.setting-item.github-publisher-export-import>.setting-item-control {
		flex-direction: column;
		width: 100%;
	}

	.setting-item.github-publisher-export-import>.setting-item-control button {
		width: 100%;
	}

	a.github-publisher-copy+button {
		height: 10%;
	}

	.github-publisher .connect-button {
		margin: 0 !important;
	}
}

@media screen and (max-width: 1200px) {
	.github-publisher .settings-tab-bar {
		flex-wrap: wrap;
	}
		
	.github-publisher .settings-tab {
		border-bottom: 1px solid var(--background-modifier-border);
	}
		
	.github-publisher .settings-tab-bar {
		border-bottom: 0;
	}
		
	.github-publisher.manage-repo button.connect {
		margin: 0 !important;
	}
}

.github-publisher.manage-repo button.connect {
	margin: 0 50%;
}

.github-publisher .settings-tab-active {
	background-color: var(--color-accent);
	color: var(--text-on-accent);
	border: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.github-publisher .settings-tab-name {
	font-weight: bold;
	text-align: center;
}
.github-publisher .settings-tab-icon {
	text-align: center;
}
.github-publisher .settings-tab-page > .setting-item:first-child {
	margin-top: 15px;
}
.github-publisher .settings-tab-page h5 {
	margin-bottom: 10px !important;
}
.settings-tab-page code,
.github-publisher.list-changed code.code-title,
.code {
	color: var(--code-normal);
	font-family: var(--font-monospace);
	background-color: var(--color-background);
	border-radius: var(--radius-s);
	font-size: var(--code-size);
}

.github-publisher.list-changed .settings-tab-page code.code-title,
.code.code-title {
	font-size: calc(var(--code-size) * 12px);
	font-weight: bolder;
	text-decoration: underline;
}

.github-publisher .setting-item.title input[type="text"][placeholder="title"] {
	width: 100%;
}


.github-publisher .setting-item.no-display > .setting-item-info {
	display: none;
}



.github-publisher.github-publisher.modals.regex.file-path-name 
.disabled {
	pointer-events: none;
	opacity: 0.5;
	font-style: italic;
	color: var(--text-muted);
	cursor: default;
	box-shadow: none !important;
	border: none !important;
	background-color: transparent !important;
	font-family: var(--font-monospace);

}

.github-publisher.modals.github-publisher.modals {
	border-top: 0 !important;
}

.github-publisher.list-changed h2.success {
	text-align: center;
	color: var(--color-green);
}

.github-publisher.list-changed h2.error {
	color: var(--text-error);
	padding: 10px 10px;
}

.github-publisher.list-changed .emoji {
	padding-right: 5px;
	font-size: 18px;
}

.github-publisher .important {
	color: var(--text-error);
	font-weight: bold;
}

.github-publisher .warning.embed {
	color: var(--color-orange);
	font-weight: bold;
	border-left: 3px solid var(--color-orange);
	padding-left: 5px;
}


.github-publisher .error input {
	border: 1px solid var(--text-error);
}
.github-publisher .max-width input,
.github-publisher .max-width button {
	width: 100%;
}

.github-publisher .display-none .setting-item-info{
	display: none;
}

