name: Release obsidian plugin
on:
    workflow_dispatch:
        inputs:
            bump:
                default: false
                description: "Bump version based on semantic release"
                type: boolean
                required: false
            beta:
                default: false
                description: "Make a beta release"
                type: boolean
                required: false
    push:
        tags:
            - "*"
permissions:
    contents: write
jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: echo
              run: |
                  echo EVENT NAME =  ${{ github.event_name }}
                  echo BETA = ${{ inputs.beta || false}}
                  echo BUMP = ${{ inputs.bump || false}}

    release:
        if: (github.event_name == 'push') || (github.event_name == 'workflow_dispatch' && !inputs.bump)
        uses: mara-li/reusable-workflows/.github/workflows/obsidian-plugin-release.yaml@main
        needs: echo
        with:
            PLUGIN_NAME: "obsidian-mkdocs-publisher"
            SUBMODULE: true
            CACHE: "pnpm"
            discord_webhook_avatar: "https://avatars.githubusercontent.com/u/107352364?s=400&u=f2eb1406068b95a58baecdf987ccccde7fcbdd55&v=4"
            discord_webhook_name: "Enveloppe"
        secrets:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}

    bump-version-and-release:
        if: ${{ inputs.bump }}
        needs: echo
        uses: mara-li/reusable-workflows/.github/workflows/obsidian-plugin-bump-version.yaml@main
        with:
            PLUGIN_NAME: "obsidian-mkdocs-publisher"
            BETA: ${{ inputs.beta }}
            SUBMODULE: true
            CACHE: "pnpm"
            discord_webhook_avatar: "https://avatars.githubusercontent.com/u/107352364?s=400&u=f2eb1406068b95a58baecdf987ccccde7fcbdd55&v=4"
            discord_webhook_name: "Enveloppe"
        secrets:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
