name: Publish Obsidian Plugin
"on":
  workflow_dispatch:
    inputs:
      bump:
        default: false
        description: "Bump version number based on semantic release"
        type: boolean
        required: false
      beta:
        default: false
        description: "Make a beta release"
        type: boolean
        required: false
  push:
    tags:
      - "*"

permissions:
  contents: write
jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: |
          echo "${{ github.event.inputs.bump }}"
          echo "${{ github.event_name }}"
  publish:
    if: (github.event_name == 'push') || (github.event_name == 'workflow_dispatch' && inputs.bump == false)
    uses: lisandra-dev/reusable-workflows/.github/workflows/obsidian-plugin-release.yaml@main
    with:
      PLUGIN_NAME: "obsidian-mkdocs-publisher"
      STYLE: true
      BETA: ${{ inputs.beta }}
    secrets: 
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  bump:
    if: ${{ github.event.inputs.bump == true }}
    uses: lisandra-dev/reusable-workflows/.github/workflows/obsidian-plugin-bump-version.yaml@main
    with:
      PLUGIN_NAME: obsidian-mkdocs-publisher
      STYLE: true
      BRANCH: "main"
      BETA: ${{ inputs.beta }}
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
